@import './../../sassStyle/abstracts/_variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.about-wrapper {
  padding: 5rem 0;

  position: relative;
  overflow: hidden;
}

.gradient {
  position: absolute;
  z-index: -1;
  &--1 {
    top: 0;
    left: 0;
  }

  &--2 {
    bottom: 0;
    right: 0;
    transform: rotate(180deg);
  }
}

.about {
  &__container {
    width: 80%;
    margin: 0 auto;
    height: 100vh;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @include respond(tab-port) {
      width: 90%;
    }
  }

  &__headingWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
  }

  &__heading {
    margin-top: 1.5rem !important;
    font-family: 'Gilroy';
    font-size: 3.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 6rem;
    letter-spacing: 0em;
    text-align: left;
    border-bottom: 3px solid #486581;

    @include respond(phone) {
      text-align: center;
    }
  }

  &__left {
    width: 57.7rem;

    @include respond(tab-port) {
      width: 100%;
      flex: 1;
    }
  }

  &__text {
    &--1 {
      margin-top: 2.9rem;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 1.8rem;
      font-style: normal;
      // font-weight: 400;
      line-height: 2.8rem;
      letter-spacing: 0em;
      hyphens: auto;

      @include respond(phone) {
        // box-sizing: border-box;
        padding: 0 1rem;
        text-indent: 5rem;
      }
    }

    &--2,
    &--3,
    &--4 {
      text-indent: 5rem;
      hyphens: auto;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 1.8rem;
      font-style: normal;
      font-weight: lighter;
      line-height: 2.5rem;
      letter-spacing: 0em;

      @include respond(phone) {
        padding: 0 1rem;
      }
    }

    &--2 {
      margin-top: 4rem;
    }

    &--3,
    &--4 {
      margin-top: 2rem;
    }
  }

  &__btn {
    margin-top: 4.2rem;
    margin-bottom: 3rem;
    @include respond(phone) {
      margin-left: 1rem;
    }
  }

  &__events,
  &__contact {
    width: 18.1rem;
    height: 4.6rem;

    background: #f0f4f8;
    border-radius: 5px;

    font-family: 'Gilroy';
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.1rem;
    letter-spacing: 0em;

    text-decoration: none;
    color: #121c56;
    padding: 1rem;
  }

  &__events {
    margin-right: 2.7rem;
  }

  &__contact {
    border: 1px solid #f2f2f2;
    box-sizing: border-box;
    border-radius: 5px;
    background: transparent;
    color: #f2f2f2;
  }

  &__logo {
    height: 70rem;
    margin-top: 5rem;
    @include respond(tab-port) {
      display: none !important;
    }
  }
}
