@import './../../sassStyle/abstracts/_variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.about {
  padding: 5rem 0;

  &__container {
    width: 80%;
    margin: 0 auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__heading {
    margin-top: -1rem;
    font-family: Roboto;
    font-size: 4.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 5.6rem;
    letter-spacing: 0em;
    text-align: left;
  }

  &__left {
    width: 57.7rem;

    @include respond(phone) {
      width: 100%;
      flex: 1;
    }
  }

  &__text {
    &--1 {
      margin-top: 2.9rem;
      font-family: Roboto;
      font-size: 2.4rem;
      font-style: normal;
      font-weight: 400;
      line-height: 2.8rem;
      letter-spacing: 0em;
      hyphens: auto;
    }

    &--2,
    &--3 {
      hyphens: auto;
      font-family: Roboto;
      font-size: 1.8rem;
      font-style: normal;
      font-weight: 400;
      line-height: 2.5rem;
      letter-spacing: 0em;
    }

    &--2 {
      margin-top: 4rem;
    }

    &--3 {
      margin-top: 2rem;
    }
  }

  &__btn {
    margin-top: 4.2rem;
  }

  &__events,
  &__contact {
    width: 18.1rem;
    height: 4.6rem;

    background: #f0f4f8;
    border-radius: 5px;

    font-family: Roboto;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.1rem;
    letter-spacing: 0em;

    text-decoration: none;
    color: #121c56;
    padding: 1rem;
  }

  &__events {
    margin-right: 2.7rem;
  }

  &__contact {
    border: 1px solid #f2f2f2;
    box-sizing: border-box;
    border-radius: 5px;
    background: transparent;
    color: #f2f2f2;
  }

  &__logo {
    height: 65rem;
    @include respond(phone) {
      display: none;
    }
  }
}
