@import '../../sassStyle/base/_base.scss';
@import '../../sassStyle/abstracts/_mixins.scss';

.card {
  background: linear-gradient(
    152.97deg,
    rgba(255, 255, 255, 0.039) 0%,
    rgba(160, 180, 199, 0.13) 100%
  );

  margin-top: 3rem;

  box-shadow: 0 8px 32px 0 rgba(9, 14, 83, 0.37);
  backdrop-filter: blur(42px);
  -webkit-backdrop-filter: blur(42px);
  background-clip: content-box, border-box;

  border: double 2.5px transparent;

  border-image: linear-gradient(
    118.47deg,
    #102a43 0%,
    #486581 33.65%,
    #9fb3c8 63.33%,
    #102a43 100%
  );
  border-image: -webkit-linear-gradient(
    118.47deg,
    #102a43 0%,
    #486581 33.65%,
    #9fb3c8 63.33%,
    #102a43 100%
  );
  border-image-slice: 1;
  background-origin: border-box;
  background-clip: content-box, border-box;

  // border-radius: 3rem !important;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;

  @include respond(big-desktop) {
    width: 25rem;
    height: 40rem;
  }

  @include respond(desktop) {
    width: 25rem;
    height: 40rem;
  }

  @include respond(tab-port) {
    width: 30rem;
    height: 45rem;
  }

  @include respond(midPhone) {
    width: 25rem;
    height: 35rem;
  }

  @include respond(smallPhone) {
    width: 25rem;
    height: 35rem;
  }

  .card::before {
    border-radius: inherit;
    content: '';
    margin: -1rem;
    z-index: -1;
    background: linear-gradient(
      118.47deg,
      #102a43 0%,
      #486581 33.65%,
      #9fb3c8 63.33%,
      #102a43 100%
    );
  }

  img {
    width: 16rem;
    height: 16rem;
    border-radius: 50%;

    @include respond(desktop) {
      width: 16rem;
      height: 16rem;
      border-radius: 50%;
    }
    @include respond(big-desktop) {
      width: 16rem;
      height: 16rem;
      border-radius: 50%;
    }
    @include respond(phone) {
      width: 15rem;
      height: 15rem;
      border-radius: 50%;
    }

    @include respond(midPhone) {
      width: 10rem;
      height: 10rem;
      border-radius: 50%;
    }
  }

  .card-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(255, 255, 255);
    font-family: 'Helvetica';
  }

  .card-text h6 {
    font-size: 2rem;
    margin-bottom: 0.3rem;
    font-weight: 500;
  }

  .card-text p {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-weight: 300;
    opacity: 0.7;
    @include respond(midPhone) {
      margin-bottom: 0;
    }
  }

  .social-media {
    color: white;
    font-size: 3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    margin-bottom: 1rem;

    @include respond(midPhone) {
      margin-bottom: 0;
    }
  }
}
