@import '../../sassStyle/base/_base.scss';
@import '../../sassStyle/abstracts/_mixins.scss';

.event-card {
  background: rgb(255, 255, 255);
  width: 25rem;
  height: 52rem;
  border-radius: 1rem;
  border-color: transparent;
  margin-bottom: 3rem;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  // margin-right: 5rem;

  @include respond(phone) {
    width: 90%;
    height: 42rem;
    // margin-top: 0rem;
    // margin-right: 1rem;
  }

  @include respond(desktop) {
    margin-right: 5rem;
  }
}

// .event-card:hover {
//   @include respond(desktop) {
//     transform: scale(1.05);
//     box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
//     transition: 600ms ease-in-out;
//   }

//   @include respond(big-desktop) {
//     transform: scale(1.05);
//     box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
//     transition: 600ms ease-in-out;
//   }
// }

.event-card .card-img {
  width: 16rem;
  border-radius: 50%;
  // border-bottom-right-radius: none;
  // border-bottom-left-radius: none;
  height: 16rem;
  margin-top: 2rem;
  @include respond(phone) {
    width: 12rem;
    height: 12rem;
  }
}

.card-content {
  display: flex;
  // justify-content: space-between;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 50%;
  overflow: wrap;
  // margin-top: 2rem;
  margin-bottom: 3rem;
  @include respond(phone) {
    margin-bottom: 7rem;
  }
}

.card-content > h2 {
  font-family: 'Poppins';
  font-size: 2.6rem;
  color: #121c56;
  font-weight: 700;

  @include respond(phone) {
    font-size: 1.8rem;
    margin-bottom: 2rem;
  }
}

.card-content > p {
  font-family: 'Helvetica';
  font-size: 1.6rem;
  color: #18074e;
  font-weight: 700;
  opacity: 0.8;
  margin-bottom: 1rem;
  align-content: center;

  @include respond(phone) {
    font-size: 1.4rem;
  }
}

.card-content .description {
  font-size: 1.4rem;
  width: 80%;
  line-height: 1.8rem;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  font-weight: 500;
  opacity: 1;
  margin-bottom: 1.5rem;
}

.participate-btn {
  padding: 1rem;
  color: #ffffff;
  list-style-type: none;
  font-family: 'Gilroy';
  font-weight: bold;
  background: #121c56;
  margin-top: auto;
  margin-bottom: 4rem;
  border-radius: 5px;

  @include respond(phone) {
    margin-top: auto;
    padding: 0.5rem;
    margin-bottom: 3rem;
    font-size: 1.1rem;
  }
}
