@import '../../sassStyle/base/_base.scss';
@import url('http://fonts.cdnfonts.com/css/phatone');
@import url('http://fonts.cdnfonts.com/css/dimitri');

.loading-wrapper {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background: black;
  animation: pulse 6s infinite;
}

@keyframes color-change {
  0% {
    color: orange;
  }
  10% {
    color: #00ff99;
  }
  20% {
    color: #00ffff;
  }
  30% {
    color: #00ff99;
  }
  40% {
    color: orange;
  }
  50% {
    color: #00ffff;
  }
  60% {
    color: orange;
  }
  70% {
    color: #ff33cc;
  }
  80% {
    color: #f1c40f;
  }
  90% {
    color: #ff6666;
  }
  100% {
    color: #ff33cc;
  }
}

@keyframes font-change {
  0% {
    font-size: 50px;
  }
  10% {
    font-size: 55px;
  }
  20% {
    font-size: 60px;
  }
  30% {
    font-size: 65px;
  }
  40% {
    font-size: 70px;
  }
  50% {
    font-size: 75px;
  }
  60% {
    font-size: 80px;
  }
  70% {
    font-size: 85px;
  }
  80% {
    font-size: 90px;
  }
  90% {
    font-size: 95px;
  }
  100% {
    font-size: 100px;
  }
}

h1 {
  text-align: center;
  //   animation: color-change 4s infinite;
  font-family: $logoFont;
  font-size: 64px;
  margin-top: 300px;
}

// .underline {
//   width: 30%;
//   height: 50%;
//   background: white;
//   margin-bottom: 300px;
// }

.underline {
  position: relative;
  width: 50%;
  margin: 280px auto;
  padding-bottom: 30px;
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 4px;
  box-sizing: border-box;
  background: rgb(255, 255, 255);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

.upperline {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 10px;
  background: #f1f1f1;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  overflow: hidden;
}

.upperline:after {
  content: '';
  position: absolute;
  left: 0;
  width: 0;
  height: 100%;
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  animation: load 6s infinite;
}

@keyframes load {
  0% {
    width: 0;
    background: #a28089;
  }

  25% {
    width: 40%;
    background: #a0d2eb;
  }

  50% {
    width: 60%;
    background: #ffa8b6;
  }

  75% {
    width: 75%;
    background: #d0bdf4;
  }

  100% {
    width: 100%;
    background: #494d5f;
  }
}

@keyframes pulse {
  0% {
    background: #a28089;
  }

  25% {
    background: #a0d2eb;
  }

  50% {
    background: #ffa8b6;
  }

  75% {
    background: #d0bdf4;
  }

  100% {
    background: #494d5f;
  }
}
