@import './../../sassStyle/abstracts/_variables.scss';
@import './../../sassStyle/abstracts/_animation.scss';

.hero-box {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -90%);
  display: none;

  &__title {
    font-size: 9rem;
    line-height: 5rem;
    font-weight: lighter;

    @include respond(tab-land) {
      font-size: 8rem;
    }

    @include respond(tab-port) {
      font-size: 6rem;
    }

    @include respond(phone) {
      font-size: 5rem;
    }

    // font-family: 'batman';
  }

  &__sub-title {
    font-weight: lighter;
    font-size: 3rem;
    text-align: center;
    margin-top: 4rem;
  }

  -webkit-animation-name: fadeIn;

  animation-name: fadeIn;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards;

  &__button {
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: none;
    font-weight: normal;
    font-size: 1.6rem;
    line-height: 1.9rem;
    padding: 1.5rem 5rem;
    text-align: center;
    vertical-align: middle;
    border-radius: 3px;
    @include respond(phone) {
      display: block;
    }

    &-box {
      margin-top: 4rem;

      display: flex;
      align-items: center;
      justify-content: center;

      @include respond(tab-land) {
        margin-top: 8rem;
      }

      @include respond(tab-port) {
        margin-top: 6rem;
      }
    }

    &:focus {
      border: none;
      outline: none;
    }

    &--1 {
      background-color: $color-off-white;
      color: $color-blue;
      margin-right: 3.5rem;
      @include respond(phone) {
        margin-right: 2rem;
      }
    }

    &--2 {
      background-color: transparent;
      border: 1px solid $color-off-white;
      color: $color-off-white;
      transition: all 0.2s;

      &:hover,
      &:active {
        border: 1px solid $color-off-white;
        background-color: $color-off-white;
        color: $color-blue;
      }
    }
  }
}
