@import './../../sassStyle/abstracts/_variables.scss';

.event-detail {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;

  @include respond(phone) {
    margin-bottom: 1rem;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &-box {
    width: 48%;

    padding: 3rem 10rem;

    @include respond(tab-land) {
      padding: 3rem 7rem;
      margin-right: 6rem;
    }

    @include respond(tab-port) {
      margin-right: 0rem;
      width: 100%;
      margin-bottom: 4rem;
    }

    background: linear-gradient(
      122.21deg,
      rgba(143, 147, 248, 0.09) 83.58%,
      rgba(143, 147, 248, 0) 179.73%
    );

    -webkit-backdrop-filter: blur(13.9683px);

    backdrop-filter: blur(13.9683px);

    // border-radius: 1rem;
    border: 2.54px solid;
    border-image: linear-gradient(
      118.47deg,
      #102a43 0%,
      #486581 33.65%,
      #9fb3c8 63.33%,
      #102a43 100%
    );
    border-image: -webkit-linear-gradient(
      118.47deg,
      #102a43 0%,
      #486581 33.65%,
      #9fb3c8 63.33%,
      #102a43 100%
    );
    border-image-slice: 1;
  }

  &__icon {
    @include respond(phone) {
      width: 100%;
    }
    &-box {
      margin-right: 1.8rem;

      @include respond(tab-port) {
        margin-right: 3.8rem;
      }

      @include respond(phone) {
        width: 3rem;
      }
    }
  }

  &__tag {
    font-weight: normal;
    font-size: 2rem;
    line-height: 2.4rem;
    color: $color-off-white;
  }
}
