@import './../../sassStyle/abstracts/_variables.scss';
@import './../../sassStyle/abstracts/_animation.scss';

.bg-video {
  width: 90%;
  height: auto;

  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  animation: fadeOut;
  animation-delay: 3s;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;

  

  .bg-video__content {
    margin-top: 4rem;
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }
}
