@import './../../sassStyle/abstracts/_variables.scss';

.card-contact {
  margin: 9rem 0;
  margin-bottom: 6rem;
  width: 100%;
  background: linear-gradient(
    152.97deg,
    rgba(255, 255, 255, 0.039) 0%,
    rgba(160, 180, 199, 0.13) 100%
  );
  border: 1px solid;
  border-color: #275e995e;
  // border-radius: 1rem;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 0;
  font-weight: bold;
  font-size: 1.8rem;
  line-height: 2.3rem;

  @include respond(tab-land) {
    width: 40rem;
  }

  @include respond(phone) {
    display: block;
    // justify-content: space-evenly;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    margin-top: 3rem;
    width: 35rem;
    font-size: 1rem;
    background: linear-gradient(
      152.97deg,
      rgba(255, 255, 255, 0.039) 0%,
      rgba(160, 180, 199, 0.13) 100%
    );
    border: 1px solid;
    border-image: linear-gradient(
      118.47deg,
      #04101b 0%,
      #486581 33.65%,
      #c0d4eb 63.33%,
      #102a43 100%
    );
    border-image: -webkit-linear-gradient(
      118.47deg,
      #102a43 0%,
      #486581 33.65%,
      #9fb3c8 63.33%,
      #102a43 100%
    );
    border-image-slice: 1;
  }

  &__left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    // margin-right: 4.8rem;
    // padding-left: 2rem;

    @include respond(tab-port) {
      // margin-right: 3rem;
    }

    @include respond(phone) {
      // margin-right: 4rem;
      margin: 0 auto;
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // padding-right: 2rem;
    width: 50%;

    @include respond(phone) {
      // margin-right: 4rem;
      margin: 0 auto;
    }
  }

  &__img {
    width: 10rem;
    height: auto;
    border-radius: 40%;
    @include respond(phone) {
      width: 10rem;
      height: auto;
    }
    &-box {
      width: 10rem;
      @include respond(phone) {
        width: 10rem;
      }
    }
  }

  &__name {
    @include respond(phone) {
      font-size: 1.4rem;
    }
  }

  &__head {
    padding-bottom: 0.5rem;
    border-bottom: 3px solid rgba(1, 255, 255, 0.63);
    margin-bottom: 2.5rem;
    @include respond(phone) {
      // margin-right: 4rem;
      font-size: 1.8rem;
      margin-top: 2rem;
      margin-bottom: 1rem;
    }
  }

  &__mail {
    font-size: 1.6rem;

    @include respond(phone) {
      font-size: rem;
    }

    &-box {
      display: flex;
      align-items: center;
      color: rgba(255, 255, 255, 0.8);
      margin-bottom: 2.5rem;
      text-align: left;
      @include respond(phone) {
        margin-bottom: 1rem;
      }
    }

    &-icon {
      margin-right: 1rem;
      @include respond(phone) {
        width: 2rem;
      }
    }
  }

  &__call {
    font-size: 1.6rem;
    &-box {
      display: flex;
      align-items: center;
      color: rgba(255, 255, 255, 0.8);
      @include respond(phone) {
        margin-bottom: 1rem;
      }
    }

    &-icon {
      margin-right: 1rem;
      @include respond(phone) {
        width: 2rem;
      }
    }
  }
}
