@import './../../sassStyle/abstracts/_variables.scss';

.card-contact {
  margin: 4rem 0;

  // height: 15.4rem;
  display: flex;
  align-items: center;

  font-weight: bold;
  font-size: 1.8rem;
  line-height: 2.3rem;

  @include respond(tab-port) {
    margin: 8rem 0;
  }

  @include respond(phone) {
    justify-content: center;
  }

  &__left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 4.8rem;

    @include respond(tab-port) {
      margin-right: 3rem;
    }

    @include respond(phone) {
      margin-right: 4rem;
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__img {
    width: 10rem;
    height: auto;
    &-box {
      width: 10rem;
    }
  }

  &__name {
  }

  &__head {
    padding-bottom: 0.5rem;
    border-bottom: 3px solid rgba(1, 255, 255, 0.63);
    margin-bottom: 2.5rem;
  }

  &__mail {
    font-size: 1.6rem;
    &-box {
      display: flex;
      align-items: center;
      color: rgba(255, 255, 255, 0.8);
      margin-bottom: 2.5rem;
    }

    &-icon {
      margin-right: 1rem;
    }
  }

  &__call {
    font-size: 1.6rem;
    &-box {
      display: flex;
      align-items: center;
      color: rgba(255, 255, 255, 0.8);
    }

    &-icon {
      margin-right: 1rem;
    }
  }
}
