@import './../../sassStyle/abstracts/_variables.scss';

.contact-form {
  width: 100%;

  height: 60rem;
  padding: 5rem;

  @include respond(tab-land) {
    width: 100%;
  }

  @include respond(phone) {
    width: 80%;
    margin: 0 auto;
  }

  background: linear-gradient(
    122.21deg,
    rgba(143, 147, 248, 0.09) 83.58%,
    rgba(143, 147, 248, 0) 179.73%
  );
  backdrop-filter: blur(22px);
  border-radius: 16px;
  &__title {
    font-weight: bold;
    font-size: 2.4rem;
    line-height: 5.1rem;
    margin-bottom: 4.2rem;
  }

  &__body {
  }

  &__row {
    display: flex;

    @include respond(tab-port) {
      display: block;
    }
  }

  &__name,
  &__mail {
    height: 6rem;

    flex-basis: 50%;
    outline: none;
    border: none;
    border-radius: 5px;
    margin-bottom: 4.6rem;
    padding: 1.5rem 1.9rem;
    font-weight: normal;
    font-size: 1.4rem;
    line-height: 2rem;
    color: #2f2f2f;

    @include respond(tab-port) {
      display: block;
      width: 100%;
      height: 4.5rem;
      margin-bottom: 3rem;
    }

    &::placeholder {
      font-weight: normal;
      font-size: 1.4rem;
      line-height: 2rem;
      color: #2f2f2f;
    }

    &:focus {
      outline: none;
      border: none;
    }
  }

  &__name {
    margin-right: 5.4rem;
  }

  &__mail {
  }

  &__message {
    border-radius: 5px;
    width: 100%;
    height: 19rem;
    padding: 1.5rem 1.9rem;
    font-weight: normal;
    font-size: 1.4rem;
    line-height: 2rem;
    color: #2f2f2f;
    outline: none;
    border: none;

    @include respond(tab-port) {
      height: 17rem;
    }

    &:focus {
      outline: none;
      border: none;
    }

    &::placeholder {
      font-weight: normal;
      font-size: 1.4rem;
      line-height: 2rem;
      color: #2f2f2f;
    }
  }

  &__submit {
    display: block;
    margin: 0 auto;
    margin-top: 4.2rem;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: $color-gold;
    padding: 1.5rem 3.3rem;
    font-weight: bold;
    font-size: 1.4rem;
    line-height: 2.1rem;
    text-align: center;
    color: $color-white;
    border-radius: 10rem;
  }
}
