@import '../../sassStyle/base/_base.scss';

.event-page .page-wrapper {
  width: 100%;
  height: 100vh;
  @include respond(phone) {
    width: 100%;
    height: 200%;
  }
  //   max-height: 150vh;
  //   display: flex;
  //   flex-direction: column;
  //   flex-flow: wrap;
}

.page-wrapper > ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;
  //   margin-top:;
  padding-top: 10rem;
}

.page-heading-wrapper {
  font-size: 3rem;
  font-family: 'Gilroy';
  color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 600;
  padding-top: 4.5rem;
}

.page-heading {
  border-bottom: solid 3px #f9a602;
  padding: 1rem;
  border-radius: 1%;
}
