@import '../../sassStyle/base/_base.scss';
@import '../../sassStyle/abstracts/_mixins.scss';

.event-page .page-wrapper {
  width: 100%;
  height: 200%;

  @include respond(big-desktop) {
    height: 90vh;
  }

  @include respond(desktop) {
    width: 100%;
    height: 200%;
  }

  @include respond(tab-land) {
    width: 100%;
    height: 140vh;
  }

  @include respond(tab-port-min) {
    width: 100%;
    height: 200%;
  }

  @include respond(phone) {
    width: 100%;
    height: 200%;
  }

  @include respond(midPhone) {
    width: 100%;
    height: 200%;
  }
}

.page-wrapper > ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;
  padding-top: 10rem;
  margin-left: 5rem;
}

.page-heading-wrapper {
  font-size: 3rem;
  font-family: 'Gilroy';
  color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 600;
  padding-top: 4.5rem;
}

.page-heading {
  border-bottom: solid 3px #f9a602;
  padding: 1rem;
  border-radius: 1%;
}

.gradient {
  position: absolute;
  z-index: -1;
  &--1 {
    top: 0;
    left: 0;
  }

  &--2 {
    bottom: -4rem;
    right: 0;
    transform: rotate(180deg);
  }
}