*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@import './../abstracts/_variables.scss';
@import url('http://fonts.cdnfonts.com/css/batmanforeveralternate');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$mainFont: 'Poppins';
$logoFont: 'BatmanForeverAlternate';

html {
  //this define what 1rem is
  font-size: 62.5%; //1rem = 10px;  10px / 16px = 62.5%

  @include respond(phone) {
    font-size: 50%;
  }

  @include respond(tab-land) {
    font-size: 56.25%; //1rem = 9px , 9/16 = 56.25%
  }

  @include respond(tab-port) {
    font-size: 50%; //1rem = 8px, 8/16 = 50%
  }

  // @include respond(big-desktop) {
  //   font-size: 75%; // 1rem = 12 12/16 = 75%
  // }
}

body{
//   font-family: 'Gilroy Light',sans-serif;
  font-size: 1.6rem;
  font-weight: normal;
  color: $color-white;
  line-height: 2.3rem;
  background-color: $color-blue;
}
