@import '../../sassStyle/base/_base.scss';
@import './../../sassStyle/abstracts/_variables.scss';

.sponsored-by__logo {
  max-width: 20rem;
  max-height: 20rem;

  @include respond(tab-port) {
    max-width: 15rem;
    max-height: 15rem;
  }

  &-item {
    flex-basis: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include respond(phone) {
      width: 10rem;
    }
  }
  &-item p {
    margin-bottom: 1rem;
    opacity: 0.8;
    font-weight: 400;
    font-size: 1.8rem;
  }

  .sponsors-banner img {
    max-width: 300px;
    max-height: 300px;
    object-fit: contain;

    @include respond(phone) {
      max-width: 15rem;
      max-height: 15rem;
    }
  }

  .modal-sponsors {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .sponsors-banner-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
