@import '../../sassStyle/base/_base.scss';

.sponsored-by__logo {
  max-width: 20rem;
  max-height: 20rem;

  &-item {
    flex-basis: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include respond(phone) {
      width: 10rem;
    }
  }
  &-item p {
    margin-bottom: 1rem;
    opacity: 0.8;
    font-weight: 400;
    font-size: 1.8rem;
  }

  .sponsors-banner img {
    width: 600px;
    height: 600px;
    object-fit: contain;
  }

  .modal-sponsors {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .sponsors-banner-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
