@import './../../sassStyle/abstracts/_variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.sponsore {
  padding: 5rem 0;

  &__heading {
    display: flex;
    justify-content: center;

    & > h1 {
      margin-top: 2rem;
      font-family: Roboto;
      font-size: 3.6rem;
      font-style: normal;
      font-weight: 400;
      line-height: 4.2rem;
      letter-spacing: 0em;
      border-bottom: 1px solid #f2f2f2;
      margin-bottom: 10.9rem;

      @include respond(phone) {
        font-size: 2.4rem;
        margin-bottom: 5rem;
      }
    }
  }
}

.otherSponsore {
  margin: 0 auto;
  width: 90%;

  h1 {
    margin-top: 2rem;
    margin-bottom: 6.8rem;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;

    font-family: Roboto;
    font-size: 3.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 4rem;
    letter-spacing: 0em;
    text-align: left;
    hyphens: auto;

    &:before,
    &:after {
      flex-grow: 1;
      height: 1px;
      content: '\a0';
      background-color: #f5f7fa;
      position: relative;
      top: 0.5em;

      @include respond(phone) {
        top: 1em;
      }
    }

    &:before {
      margin-right: 10px;
    }

    &:after {
      margin-left: 10px;
    }

    @include respond(phone) {
      font-size: 1.8rem;
      margin-bottom: 3.2rem;
    }
  }

  &__logo {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4.3rem;
  }

  &__img {
    width: 19rem;
    height: 5.4rem;
    border-radius: 0% !important;
    
    @include respond(tab-port) {
      width: 16rem;
      height: 4.4rem;
    }

    @include respond(phone) {
      width: 6.3rem;
      height: 1.8rem;
    }
  }
}
