body {
  margin: 0;
  font-family: 'Gilroy';
  height: auto;

  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  overflow: hidden;
  z-index: 0; */
}

a {
  text-decoration: none;
  color: white;
}
