body {
  margin: 0;
  font-family: 'Gilroy';
  font-weight: lighter;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
<<<<<<< HEAD
=======

a {
  text-decoration: none;
}
>>>>>>> ab47d59 (Our Team Page Edited)
