@import './../../sassStyle/abstracts/_variables.scss';

.contact-page {
  padding: 3rem 0;
  font-weight: 500;
  font-size: 3.6rem;
  line-height: 5.4rem;
  padding-bottom: 6rem;
  position: relative;

  &__container{
    position: relative;
  }

  // &__container {
  //   background-image: url('./../../Images/svgs/Gradient.svg');
  //   background-repeat: no-repeat;
  //   background-size: cover;
  //   background-position: center;
  //   height: 100%;
  // }

  &__title {
    padding-bottom: 1rem;
    border-bottom: 3px solid $color-gold;
    text-align: center;
    margin-bottom: 5rem;

    &-box {
      width: 100%;
      display: flex;
      justify-content: center;
    }

    @include respond(phone) {
      margin: 0 auto;
      margin-bottom: 7rem;
    }
  }

  &__body {
    display: flex;

    align-items: center;

    @include respond(phone) {
      display: block;
    }
  }

  &__left {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include respond(tab-land) {
      width: 50%;
    }

    @include respond(tab-port) {
      display: block;
      width: 100%;
      margin-bottom: 8rem;
    }

    @include respond(phone) {
      width: 100%;
      margin-bottom: 8rem;
    }
  }

  &__right {
    width: 60%;

    display: flex;
    align-items: center;

    @include respond(tab-land) {
      width: 50%;
    }

    @include respond(tab-port) {
      width: 100%;
      transform: translateY(-30px);
    }

    @include respond(phone) {
      width: 100%;
      transform: translateY(0);
    }

    margin-left: auto;
  }
}

.gradient {
  position: absolute;
  z-index: -1;
  &--1 {
    top: 0;
    left: 0;
  }

  &--2 {
    bottom: 0;
    right: 0;
    transform: rotate(180deg);
  }
}
