@import './../../sassStyle/abstracts/_variables.scss';
@import './../../sassStyle/abstracts/mixins';

.contact-page {
  padding: 3rem 0;
  font-weight: 500;
  font-size: 3.6rem;
  line-height: 5.4rem;

  &__container {
    position: relative;
    overflow: hidden;
  }

  @include respond(desktop) {
    height: 120vh;
  }

  @include respond(tab-land) {
    height: 120vh;
  }

  @include respond(tab-port) {
    height: 90vh;
  }
  @include respond(phone) {
    height: 200%;
    width: 90vw;
  }

  &__title {
    display: inline-block;
    padding-bottom: 1rem;
    border-bottom: 3px solid #486581;

    @include respond(phone) {
      display: block;
      text-align: center;
      margin: 4rem auto;
      border-bottom: 3px solid transparent;
    }
  }

  &__body {
    display: flex;

    align-items: center;

    @include respond(phone) {
      display: block;
    }
  }

  &__left {
    width: 33%;

    @include respond(phone) {
      width: 100%;
      margin-bottom: 8rem;
      justify-content: center;
      display: flex;
      flex-direction: column;
    }
  }

  &__right {
    width: 67%;

    @include respond(tab-land) {
      width: 60%;
    }

    @include respond(tab-port) {
      width: 55%;
    }

    @include respond(phone) {
      width: 100%;
    }

    margin-left: auto;
  }

  // .gradient {
  //   position: absolute;
  //   z-index: -1;
  //   &--1 {
  //     top: 0;
  //     left: 0;
  //   }

  //   &--2 {
  //     bottom: -80rem;
  //     right: 0;
  //     transform: rotate(180deg);

  //     @include respond(desktop) {
  //       bottom: -40rem;
  //     }
  //     @include respond(tab-land) {
  //       bottom: -40rem;
  //     }
  //     @include respond(tab-port) {
  //       bottom: -40rem;
  //     }
  //   }
  // }
}
